#tag-section{
    display: flex;
    align-items: center;
}
.tag-style{
    border: 1px solid darkcyan;
    border-radius: 60px;
    background-color: darkcyan;
    font-size: 1.2rem;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}
.new-tag{
    height: 15px;
}
#tag-list{
    display: flex;
}